<body style="background: url(https://johnbrawley.files.wordpress.com/2013/12/r374_20130612_225712.jpg) no-repeat center center fixed;">
  <nav>
    <div class="nav-wrapper black">
      <a href="#!" class="brand-logo" style= "background-color: white;" ><img src="http://picfont.com/create_text_00000.php?a=50&b=0&c=Take-cover&d=TAKE%20ONE&f=8&c0=0&c1=0&c2=0&cont=3&o0=255&o1=255&o2=255&op=no&v=1467451668&pg=yes&dst=no&dst_v=45" height="60"></a>
       
      <ul class="right hide-on-med-and-down">
        <li><i class="material-icons ">videocam</i></li>
        <li>
        	<form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>

        </li>
      </ul>
    </div>
  </nav>
<nav>
    <div class="nav-wrapper black">
      <div class="col s12">
        <a href="#!" class="breadcrumb">Home</a>
        <a href="#!" class="breadcrumb">About</a>
        <a href="contact#!" class="breadcrumb">Contact Us</a>
      </div>
    </div>
  </nav>

<h1 style="text-align: center; color: white; font-size: 65px;"><b>Home</b></h1>


<iframe width="560" height="315" text-align:"center," src="https://www.youtube.com/embed/U1XQQgog1lg" frameborder="0" allowfullscreen>
</iframe>

<iframe width="560" height="315" text-align:"center," src="https://www.youtube.com/embed/JEFrqOW6YdU" frameborder="0" allowfullscreen>
</iframe>

<iframe width="560" height="315" text-align:"center," src="https://www.youtube.com/embed/YbAse4HVxc8" frameborder="0" allowfullscreen>
</iframe>

<iframe width="560" height="315" text-align:"center," src="https://www.youtube.com/embed/i3kIpCzLzEo" frameborder="0" allowfullscreen>
</iframe>

<iframe width="560" height="315" text-align:"center," src="https://www.youtube.com/embed/mNcdlLIOdNw" frameborder="0" allowfullscreen>
</iframe>

<iframe width="560" height="315" text-align:"center," src="https://www.youtube.com/embed/PXrm5eU6HtY" frameborder="0" allowfullscreen>
</iframe>



  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">airplay</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">videocam</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">video_library</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">movie</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">pause_circle_outline</i></a></li>
    </ul>
  </div>