<body style="background: url(https://johnbrawley.files.wordpress.com/2013/12/r374_20130612_225712.jpg) no-repeat center center fixed;">
  
  <nav>
    <div class="nav-wrapper black">
      <a href="#!" class="brand-logo" style= "background-color: white;" ><img src="http://picfont.com/create_text_00000.php?a=50&b=0&c=Take-cover&d=Take%20One&f=13&c0=0&c1=0&c2=0&cont=3&o0=255&o1=255&o2=255&op=no&v=1467288311&pg=yes&dst=no&dst_v=90" height="60"></a>
       
      <ul class="right hide-on-med-and-down">
        <li><i class="material-icons ">videocam</i></li>
        <li>
        	<form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>

        </li>
      </ul>
    </div>
  </nav>

<nav>
    <div class="nav-wrapper black">
      <div class="col s12">
        <a href="about#!" class="breadcrumb">Home</a>
        <a href="home#!" class="breadcrumb">About</a>
        <a href="contact#!" class="breadcrumb">Contact Us</a>
      </div>
    </div>
  </nav>

  <h1 style="text-align: center; color: white; font-size: 65px;"><b>Contact Us</b></h1>



<div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzdRk7t8n6WExrGDa1lTZ0MrNPSW5DydE&callback=initMap"
    async defer></script>
</body>
 